@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
body {
    background: rgb(2, 0, 36);
    background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
}

* {
    font-family: 'Risque', cursive;
}

.img1 {
    border-radius: 50%;
    width: 250px;
}

.img2 {
    border-radius: 50%;
    width: 250px;
    position: relative;
    right: 100px;
}

div.picNo1 {
    position: relative;
    width: 20%;
    /* background-color: white; */
    margin-bottom: 25px;
    padding: 3%;
    /* background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed; */
    float: left;
    /* margin-right: 150px; */
    animation-name: ammar;
    animation-duration: 1.5s;
}
@keyframes ammar{
  
    from{right: 400px; bottom: 300px; opacity: 0;}
    to{right: 0px;bottom: 0px; opacity: 1;}
}
div.picNo2 {
    position: relative;
    width: 20%;
    /* background-color: white; */
    margin-bottom: 25px;
    padding: 3%;
    /* background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed; */
    float: left;
    /* margin-right: 150px; */
    opacity: 0;
    animation: forwards;
    animation-name: nermeen;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

@keyframes nermeen{
  
    from{bottom: 600px; opacity: 0;}
    to{bottom: 0px; opacity: 1;}
}


    div.picNo3 {
        position: relative;
        width: 20%;
        /* background-color: white; */
        margin-bottom: 25px;
        padding: 3%;
        /* background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed; */
        float: left;
        animation-name: amer;
        animation-duration: 1.5s;
        /* margin-right: 150px; */}

        @keyframes amer{
            from{left: 400px; bottom: 300px; opacity: 0;}
            to{left: 0px;bottom: 0px; opacity: 1;}
        }

.picNo4 {
    position: relative;
    width: 20%;
    /* background-color: white; */
    margin-bottom: 25px;
    /* padding: 3%; */
    /* background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed; */
    float: left;
    margin-left: 33%;
    opacity: 0;
    animation: forwards;
    animation-name:anolla ;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}
@keyframes anolla{
    from{right: 400px; top: 300px; opacity: 0;}
    to{right: 0px;top: 0px; opacity: 1;}
}

.picNo5 {
    position: relative;
    width: 20%;
    /* background-color: white; */
    margin-bottom: 25px;
    /* padding: 3%; */
    /* background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed; */
    float: left;
    margin-left: 7%;
    opacity: 0;
    animation: forwards;
    animation-name: hussein;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}
@keyframes hussein{
    from{left: 400px; top: 300px; opacity: 0;}
    to{left: 0px;top: 0px; opacity: 1;}
}


/* div.picNo1{
    width: 20%;
    background-color: white;
    margin-bottom: 25px;
    padding: 3%;
    background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
    float: left;
  }
  div.picNo1{
    width: 20%;
    background-color: white;
    margin-bottom: 25px;
    padding: 3%;
    background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
    float: left;
  }
  div.picNo1{
    width: 20%;
    background-color: white;
    margin-bottom: 25px;
    padding: 3%;
    background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
    float: left;
    margin-left: 20%;
  }
  div.picNo1{
    width: 20%;
    background-color: white;
    margin-bottom: 25px;
    padding: 3%;
    background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
    float: left;
  } */

p {
    padding-left: 55px;
    color: wheat;
    width: 50px;
    padding-left: 8px;
}

#ammar {
    padding-right: 5px;
}

.img1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img2 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.picNo1:hover .img1 {
    opacity: 0.3;
}

.picNo1:hover .middle {
    opacity: 1;
}
.picNo2:hover .img1 {
    opacity: 0.3;
}

.picNo2:hover .middle {
    opacity: 1;
}
.picNo3:hover .img1 {
    opacity: 0.3;
}

.picNo3:hover .middle {
    opacity: 1;
}

.text {
    /* background-color: #4CAF50; */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.text2 {
    /* background-color: #4CAF50; */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    position: relative;
    right: 100px;
}

.text p span {
    font-weight: bolder;
}

.picNo4:hover .img1 {
    opacity: 0.3;
}

.picNo4:hover .img2 {
    opacity: 0.3;
}

.picNo4:hover .middle {
    opacity: 1;
}

.picNo5:hover .img2 {
    opacity: 0.3;
}

.picNo5:hover .middle {
    opacity: 1;
}