#logo {
    width: 150px;
    height: auto;
}


img  {  
    width: 400px;
    height: 400px;
    float: center;
}

h2{
    float: left;
   padding-left: 100px;
}

h1{
    text-align: center;
}
p{
    width: 80%;
    padding-left: 150px;
}