#logo {
    width: 150px;
    height: auto;
}


img  {  
    padding: 10px;
    width: 450px;
    height: 500px;


}

/* h2{
    text-align: center;
  
} */

h1{
    text-align: center; 
}
p{
    width: 50%;
 
   

}
/* 
/* #fav15 {
    border : 1px solid gray ;
} */
/* 
#drak {
    border : 1px solid gray ;
}  */



