@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
#formSet {
    display: inline-block;
    width: 70%;
}
*{
    font-family: 'Risque', cursive;

}

#quizSection {
    background-image: url(/img/222.jpg);
    background-repeat: no-repeat;
    /* background-size: 10cm; */
    height: 500px;
    border: #310404 solid 10px;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ff0800, 0 0 20px #ff0800, 0 0 30px#ff0800, 0 0 40px#ff0800, 0 0 50px #ff0800, 0 0 60px #ff0800, 0 0 70px #ff0800, 0 0 90px #ff0800;
    }
    to {
        color: gray;
        text-shadow: 0 0 20px #ff0800, 0 0 30px #ff0800, 0 0 40px #ff0800, 0 0 50px #ff0800, 0 0 60px #ff0800, 0 0 70px #ff0800, 0 0 80px #ff0800, 0 1 90px #ff0800;
    }
}

#quizSection p {
    position: relative;
    bottom: 450px;
    left: 700px;
    font-size: large;
}

#quizImage {
    float: right;
    height: 25em;
    width: 25em;
    border-bottom: #310404 solid 10px;
    position: relative;
    right: 200px;
}

#slider {
    width: 1330px;
    height: 500px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    height: 850px;
    margin: 0px;
    left: 0px;
    animation: 14s slider infinite;
}

#slider figure img {
    width: 20%;
    height: 70%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    90% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

p span {
    font-size: larger;
    font-weight: bolder;
}

.neons {
    margin-top: 10rem;
    text-align: center;
}

.neons h1 {
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ff0800, 0 0 20px #ff0800, 0 0 30px#ff0800, 0 0 40px#ff0800, 0 0 50px #ff0800, 0 0 60px #ff0800, 0 0 70px #ff0800, 0 0 90px #ff0800;
    }
    to {
        color: gray;
        text-shadow: 0 0 20px #ff0800, 0 0 30px #ff0800, 0 0 40px #ff0800, 0 0 50px #ff0800, 0 0 60px #ff0800, 0 0 70px #ff0800, 0 0 80px #ff0800, 0 1 90px #ff0800;
    }
}

#A {
    /* font-size: large; */
    border-top: solid 10px #310404;
    border-bottom: solid 5px #310404;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ff0800, 0 0 20px #ff0800, 0 0 30px#ff0800, 0 0 40px#ff0800, 0 0 50px #ff0800, 0 0 60px #ff0800, 0 0 70px #ff0800, 0 0 90px #ff0800;
    }
    to {
        color: gray;
        text-shadow: 0 0 20px #ff0800, 0 0 30px #ff0800, 0 0 40px #ff0800, 0 0 50px #ff0800, 0 0 60px #ff0800, 0 0 70px #ff0800, 0 0 80px #ff0800, 0 1 90px #ff0800;
    }
}

#A p {
    padding-top: 50px;
    text-align: justify;
    width: 600px;
    height: 450px;
    overflow: hidden;
    padding-left: 20px;
    line-height: 21px;
    border-left: solid 5px #310404;
}

#A img {
    float: left;
    width: 400px;
    height: 350px;
    margin-left: 120px;
    padding-top: 95px;
    padding-right: 60px;
}

.double-spinner {
    height: 48px;
    width: 48px;
    border: 5px solid rgba(232, 255, 101, 0.664);
    border-radius: 50%;
    border-top-color: rgb(255, 230, 0);
    animation: rotate 1s 0s infinite linear normal;
}

.double-spinner::after {
    content: '';
    height: 40%;
    width: 40%;
    display: block;
    margin: 10px auto;
    border: inherit;
    border-radius: inherit;
    border-top-color: inherit;
    animation: rotate .5s 0s infinite linear reverse;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#category-images {
    position: relative;
    left: 300px;
    margin-bottom: 20px;
    float: left;
}

#category-images #1,
#2,
#3,
#4 {
    transition: .5s ease;
}

#category-images img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        color: #fff;
        box-shadow: 0 0 10px #ff0800, 0 0 20px #fbff00, 0 0 30px#1900ff, 0 0 40px#ff0800;
    }
    to {
        color: gray;
        box-shadow: 0 0 20px #ff0800, 0 0 30px #ff0800, 0 0 40px #1900ff, 0 0 50px #ff0800;
    }
}

#formSet {
    padding: 20px;
    /* background-color: #310404; */
    /* background-image: url(/img/see.jpg); */
    height: 350px;
    position: relative;
    bottom: 390px;
}

#character-desctintion {
    text-align: justify;
    font-size: large;
    border: 5px solid #5a0604;
}

#character-desctintion p {
    clear: both;
    width: 350px;
    height: auto;
    text-align: justify center;
    position: relative;
    left: 455px;
    border: 5px solid #5a0604;
    padding: 10px;
}

#character-desctintion img {
    width: 350px;
    height: 600ox;
    margin-top: 180px;
    margin-top: 210px;
    position: relative;
    right: 230px;
    border: 5px solid #5a0604;
}

#category-images img:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#character-desctintion img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

#character-desctintion p:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        color: #fff;
        box-shadow: 0 0 10px #ff0800, 0 0 20px #fbff00, 0 0 30px#1900ff, 0 0 40px#ff0800;
    }
    to {
        color: gray;
        box-shadow: 0 0 20px #ff0800, 0 0 30px #ff0800, 0 0 40px #1900ff, 0 0 50px #ff0800;
    }
}

audio {
    position: relative;
    position: relative;
    left: 500px;
}
button:hover {
    background-color: maroon;
    color: white;
  }
  button {
      cursor: pointer;
      
}
input {
    cursor: pointer;
}
input:hover{
    background-color: maroon;
    color: white;
}