@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
body {
    background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
    font-family: 'Barlow', sans-serif;
    color: white;
}

* {
    font-family: 'Risque', cursive;
}

header {
    /* background-color: #310404; */
    /* background-image: url(/img/see.jpg); */
    background-color: black;
    text-align: center;
    position: relative;
    border-bottom: solid 3px gray;
    text-align: right;
    height: 80px;
    -webkit-animation: glowlogo 2s ease-in-out infinite alternate;
    -moz-animation: glowlogo 2s ease-in-out infinite alternate;
    animation: glowlogo 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glowlogo {
    from {
        color: #fff;
        box-shadow: 0 0 10px #ff0800, 0 0 10px #d9ff00, 0 0 10px#ff0800, 0 0 10px#000b6e;
    }
    to {
        box-shadow: 0 0 10px #ff0800, 0 0 10px #ff8800, 0 0 20px #ffe600, 0 0 50px #ff0000c9;
    }
}

#logo2 {
    font-size: large;
    float: left;
    position: relative;
    left: 170px;
    top: 20px;
    color: white;
    -webkit-animation: glowlogo3 2s ease-in-out infinite alternate;
    -moz-animation: glowlogo3 2s ease-in-out infinite alternate;
    animation: glowlogo3 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glowlogo3 {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ff0800, 0 0 10px #ff3300, 0 0 10px#ff0800, 0 0 10px#6e1a00;
    }
    to {
        text-shadow: 0 0 10px #ff0800, 0 0 10px #ff8800, 0 0 20px #ffe600, 0 0 50px #ff0000c9;
    }
}

#logo3 {
    font-size: small;
    float: left;
    position: relative;
    left: 30px;
    top: 50px;
    color: white;
    -webkit-animation: glowlogo3 2s ease-in-out infinite alternate;
    -moz-animation: glowlogo3 2s ease-in-out infinite alternate;
    animation: glowlogo3 2s ease-in-out infinite alternate;
}

#logo {
    float: left;
    position: relative;
    left: 200px;
    bottom: 20px;
    height: 125px;
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

nav ul {
    padding-right: 120px;
    padding-top: 45px;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
    /* position: relative;
    left: 900px;
    bottom: 30px; */
    font-size: large;
    font-weight: bolder;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding-top: 5px;
}

#imageCharacter {
    border: 3px solid #310404;
}

#category-images {
    border: 3px solid #310404;
}

nav ul li a:hover {
    -webkit-animation: glowab 2s ease-in-out infinite alternate;
    -moz-animation: glowab 2s ease-in-out infinite alternate;
    animation: glowab 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glowab {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ff0800, 0 0 10px #ff0000, 0 0 20px#ff0800, 0 0 30px#ff0000;
    }
    to {
        text-shadow: 0 0 10px #ff0800, 0 0 10px #ff0800, 0 0 20px #ff0800, 0 0 50px #ff0800;
    }
}

footer {
    clear: both;
    font-family: 'Barlow', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    height: 25px;
    padding-top: 8px;
}

button:hover {
    background-color: maroon;
    color: white;
}

button {
    cursor: pointer;
}

input {
    cursor: pointer;
}

input:hover {
    background-color: maroon;
    color: white;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}